body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background: #444;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
}

.center {
    text-align: center;
}

.profile {
    border-radius: 50%;
    width: 150px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.grid img {
    width: 200px;
    border-radius: 10px;
}

/* Dark Mode */
.dark {
    background: #121212;
    color: white;
}

.dark section {
    background: #1e1e1e;
}
